* {
    box-sizing: border-box;
}

.header-ctn {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 0.5px solid #00B4CC;
    height: 2.9rem;
    padding-top: 5px;
}

.warpper {
    display: flex;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.searchTerm {
    width: 30rem;
    border: 3px solid #00B4CC;
    height: 32px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    height: 32px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

#logo {
    width: 3rem;
}

.search-ctn {
    width: 75%;
    display: inherit;
    justify-content: center;
    overflow: hidden;
}

.youtube-item {
    max-width: 300px;
    height: 270px;
    float: left;
    margin: 10px;
    padding-top: 2.3rem;
}

.youtube-item .title {
    font-weight: bolder;
}

.ellipsis {
    text-overflow: ellipsis; /* Text tràn ra ngoài chuyển thành "..." */
    white-space: nowrap; /* Phần tử nằm trên 1 dòng */
    overflow: hidden; /* Ẩn phần từ trờm ra ngoài parent */
}

.youtube-item .thumbnail img {
    width: 100%;
}

.display {
    padding: 3.5rem 100px 0 100px;
}

.categories {
    padding: 0.5rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #fff;
}

.category-section {
    display: flex;
    overflow: hidden;
}

.category {
    margin-right: 1rem;
    white-space: nowrap;
    border: 1px solid #CCC;
    border-radius: 900px;
    background-color: #E7E7E7;
    padding: .5rem 1rem;
    cursor: pointer;
}

.category:hover {
    background-color: #DDD;
}

.category.active {
    background-color: #606060;
    color: white;
    border-color: #EEE;
}

.category:last-child {
    margin-right: 0;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}